.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(9, 144, 54);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}